.main__container {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding-bottom: 18rem;
}
.main__title {
  width: 100%;
  max-width: 540px;
  margin-bottom: 4.8rem;
}
.main__desription {
  width: 100%;
  max-width: 445px;
  margin-bottom: 5.1rem;
}
.main__item {
  margin-top: 16rem;
  display: flex;
  gap: 4rem;
  align-items: center;
}

@media screen and (max-width: 857px) {
  .main__images {
    width: 100%;
    height: auto;
  }
  .main__title {
    width: 100%;
    max-width: 540px;
    font-size: 5rem;
  }
}
@media screen and (max-width: 900px) {
  .main__images {
    width: 50%;
    height: auto;
  }
  .main__title {
    margin: 0;
  }
  .main__desription {
    margin: 0;
  }
  .main__item {
    margin: 0;
  }
}
@media screen and (max-width: 734px) {
  .main__container {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
  .main__images {
    width: 100%;
    height: auto;
  }
  .main__title {
    margin-top: 4.7rem;
  }
}
@media screen and (max-width: 441px) {
  .main__title {
    width: 100%;
    max-width: 343px;
    margin-bottom: 1.6rem;
    font-size: 3.1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .main__desription {
    width: 100%;
    max-width: 420px;
    margin-bottom: 2.4rem;
  }
  .main__item {
    margin-top: 4.8rem;
    gap: 1.2rem;
    align-items: center;
  }
  .black-btn {
    font-size: 1.4rem;
  }
}
